:root,
.theme1 {
  --clr-main: hsl(222, 26%, 31%);
  --clr-keypad: hsl(223, 31%, 20%);
  --clr-screen: hsl(224, 36%, 15%);

  /* keys */
  --clr-base-numeric: hsl(30, 25%, 89%);
  --clr-base-numeric-shadow: hsl(28, 16%, 65%);

  --clr-numkey-txt: hsl(221, 14%, 31%);
  --clr-header: hsl(0, 0%, 100%);

  /* special keys */
  --clr-special-key: hsl(225, 21%, 49%);
  --clr-special-key-shadow: hsl(224, 28%, 35%);
  --clr-vibrant-bg: hsl(6, 63%, 50%);
  --clr-vibrant-shadow: hsl(6, 70%, 34%);
}

:root.theme2 {
  --clr-main: hsl(0, 0%, 90%);
  --clr-keypad: hsl(0, 5%, 81%);
  --clr-screen: hsl(0, 0%, 93%);

  /* keys */
  --clr-base-numeric: hsl(45, 7%, 89%);
  --clr-base-numeric-shadow: hsl(35, 11%, 61%);

  --clr-numkey-txt: hsl(60, 10%, 19%);
  --clr-header: hsl(60, 10%, 19%);

  /* special keys */
  --clr-special-key: hsl(185, 42%, 37%);
  --clr-special-key-shadow: hsl(185, 58%, 25%);
  --clr-vibrant-bg: hsl(25, 98%, 40%);
  --clr-vibrant-shadow: hsl(25, 99%, 27%);
}

:root.theme3 {
  --clr-main: hsl(268, 75%, 9%);
  --clr-keypad: hsl(268, 71%, 12%);
  --clr-screen: hsl(268, 71%, 12%);

  /* keys */
  --clr-base-numeric: hsl(268, 47%, 21%);
  --clr-base-numeric-shadow: hsl(290, 70%, 36%);

  --clr-numkey-txt: hsl(52, 100%, 62%);
  --clr-header: hsl(52, 100%, 62%);

  /* special keys */
  --clr-special-key: hsl(281, 89%, 26%);
  --clr-special-key-shadow: hsl(285, 91%, 52%);
  --clr-vibrant-bg: hsl(176, 100%, 44%);
  --clr-vibrant-shadow: hsl(177, 92%, 70%);
}

:root {
  /* fonts */
  --ff-main: 'League Spartan', sans-serif;
  --clr-white: hsl(0, 0%, 100%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1;
  font-family: var(--ff-main);
  background-color: var(--clr-main);
  color: var(--clr-white);
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator {
  width: 100%;
  max-width: 30rem;
  min-width: 365px;
  padding: 1.5rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem;
}

.calculator__header {
  color: var(--clr-header);
  font-weight: 700;
}

.logo {
  font-size: 2rem;
}

.subtext {
  font-size: 0.9rem;
}

.theme-setter {
  display: flex;
  align-items: flex-end;
  gap: 1.4rem;
  text-transform: uppercase;
}

.toggle-indicator {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.toggle3w {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 22px;
  background-color: var(--clr-keypad);
  border-radius: 50px;
}

.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 3px;
  background-color: var(--clr-vibrant-bg);
  border-radius: 50%;
  transition: 0.2s;
}

.radio {
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.radio1:checked ~ .dot {
  left: 3px;
}

.radio2:checked ~ .dot {
  left: calc(50% - 10px + 3px);
}

.radio3:checked ~ .dot {
  left: calc(100% - 20px + 1px);
}

.toggle3w:hover .dot {
  filter: brightness(120%);
}

.screen {
  line-height: 1.2;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--clr-screen);
  color: var(--clr-header);
  text-align: end;
}

.screen .previous-text {
  color: var(--clr-base-numeric-shadow);
  font-size: 1.5rem;
  min-height: 2rem;
}

.screen .current-text {
  font-size: 3rem;
  font-weight: 700;
  min-height: 3.65rem;
}

.keypad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  padding: 1rem;
  border-radius: 8px;
  background-color: var(--clr-keypad);
}

.key {
  cursor: pointer;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 8px;
  transition: 0.2s;
}

.key:hover {
  filter: brightness(120%);
}

.blank {
  background-color: var(--clr-base-numeric);
  color: var(--clr-numkey-txt);
  border-bottom: 4px solid var(--clr-base-numeric-shadow);
}

.delete,
.reset {
  background-color: var(--clr-special-key);
  color: var(--clr-white);
  border-bottom: 4px solid var(--clr-special-key-shadow);
  text-transform: uppercase;
}

.reset {
  grid-column: span 2;
}

.calculate {
  grid-column: span 2;
  background-color: var(--clr-vibrant-bg);
  color: var(--clr-white);
  border-bottom: 4px solid var(--clr-vibrant-shadow);
}
